<nav *ngIf="totalPages > 1">
  <ul class="pagination justify-content-end">
    <li class="page-item hidden-sm-down" [ngClass]="{ 'disabled' : !hasPrevious() }">
      <button class="page-link" [disabled]="!hasPrevious()" (click)="goto(current - 1)">
        <span class="fal fa-chevron-left"></span>
      </button>
    </li>
    <li class="page-item" *ngFor="let page of pages; trackBy:pageTrackBy" [ngClass]="{ 'active' : page.number === current }">
      <button class="page-link" (click)="goto(page.number)">
        {{ page.number }}
      </button>
    </li>
    <li class="page-item hidden-sm-down" [ngClass]="{ 'disabled' : !hasNext() }">
      <button class="page-link" [disabled]="!hasNext()" (click)="goto(current + 1)">
        <span class="fal fa-chevron-right"></span>
      </button>
    </li>
  </ul>
</nav>